{% extends 'base.html.twig' %}

{% block body %}
    <h1>Publications list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Publication</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for publication in publications %}
            <tr>
                <td>
                    <a href="{{ path('publication_show', { 'id': publication.id }) }}">
                        {{ publication.id }}
                    </a>
                </td>
                <td>{{ publication.title }}</td>
                <td>{{ publication.description }}</td>
                <td>{% if publication.publication %}{{ publication.publication|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('publication_show', { 'id': publication.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('publication_edit', { 'id': publication.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('publication_new') }}">Create a new publication</a>
        </li>
    </ul>
{% endblock %}
