{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/default/front/index.css') }}">
{% endblock %}

{% block body %}

    <div class="container-fluid banner">
        <div class="container ">
            <div class="row">
                <div class="col-md-5">
                    <h2 class="mb30 ">Rejoignez une nouvelle association</h2>
                    <a href="" class="btn btn-blue mb25">Rechercher</a>
                </div>
                <div class="col-md-2">
                    <h2 class="cblue">OU</h2>
                </div>
                <div class="col-md-5">
                    <h2 class="mb30 ">
                        Voir l'actualités des associations suivies
                    </h2>
                    <a href="" class="btn btn-blue mb25">Actualités</a>
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row mb100 mt50">
            <div class="col-md-2 col-xs-3 col-md-offset-2">
                <img src="{{ asset('assets/image/icons/time.png') }}" class="w100">
            </div>
            <div class="col-md-5 col-xs-9 col-md-offset-1">
                <h3 class="mb20">
                    Voir les associations
                </h3>
                <p>
                    Accédez à la vitrine sur laquelle sont regroupées toutes les associations.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-xs-3 hidden-md hidden-lg col-md-offset-1">
                <img src="{{ asset('assets/image/icons/ticket.png') }}" class="w100">
            </div>
            <div class="col-md-5 col-md-offset-2">
                <h3 class="mb20">
                    Voir les prochains événements
                </h3>
                <p>
                    Consultez l'agenda des événements à venir, organisés par les différentes associations.
                </p>
            </div>
            <div class="col-md-2 hidden-sm hidden-xs col-md-offset-1">
                <img src="{{ asset('assets/image/icons/ticket.png') }}" class="w100">
            </div>
        </div>
    </div>
    <div class="container-fluid bannerMiddlePage">
        <div class="container">
            <div class="row ">
                <div class="col-md-4">
                    <div class="col-md-7 col-md-offset-1">
                        <img src="{{ asset('assets/image/icons/student2.png') }}" class="w100">
                    </div>
                    <h4 class="col-md-9" align="center">
                        Profil association
                    </h4>
                </div>
                <div class="col-md-4">
                    <div class="col-md-7 col-md-offset-1">
                        <img src="{{ asset('assets/image/icons/calendar.png') }}" class="w100">
                    </div>
                    <h4 class="col-md-9" align="center">
                        Evénements
                    </h4>
                </div>
                <div class="col-md-4">
                    <div class="col-md-7 col-md-offset-1">
                        <img src="{{ asset('assets/image/icons/team.png') }}" class="w100">
                    </div>
                    <h4 class="col-md-9" align="center">
                        Profil étudiant
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h2 class="text-center mb30">Des questions ? Contactez-nous </h2>
            <form action="{{ path('sendMail') }}" method="post" class="col-md-8 col-md-offset-2">
                <div class="col-md-6">
                    <input required name="nom" type="text" class="form-control" placeholder="Nom">
                </div>
                <div class="col-md-6">
                    <input required name="prenom" type="text" class="form-control" placeholder="Prénom">
                </div>
                <div class="col-md-12">
                    <input required name="email" type="email" class="form-control" placeholder="Email">
                </div>

                <div class="col-md-12">
                    <textarea required name="message" class="form-control" name="" id="" placeholder="Message"></textarea>
                </div>
                <div class="col-md-12">

                    <input type="submit" class="btn-submit">
                </div>
            </form>
        </div>
    </div>


{% endblock %}

